@import "compass/reset";

body {
  font-family: 'Helvetica Neue';
  margin:0px;
  background-color: #F2F2F2;
}

#header, #footer {
  width: 100%;
  background-color: #2C2C2C;
  border: 1px solid black;
}

#header {
  margin-bottom: 30px;
  position: fixed;
  height: 50px;
  left:0;
  z-index: 1;
  top: 0;
  background: url(../images/header-bg.gif) repeat-x;
}

ul.fixed-menu {
  padding: 5px;
  margin: 0px;
  position: fixed;
  right: 0;
  bottom: 10px;
  background-color: #303030;
  box-shadow: -3px 3px 1px #000;
  li{
    list-style: none;
    padding: 7px 5px;
    font-size: 15px;
    a {
      text-decoration: none;
      text-decoration: none;
      text-shadow: 1px 1px #25448E;
      color: #FFF;
      font-weight: 100;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid #66A2FA;
      }
    }
  }
}

#footer {
  height: 200px;
}

.categorized-news, #top-news {
  display: inline-block;
  vertical-align: top;
}

#sidebar {
  width: 15%;
  border: 1px solid #000;
  padding: 27px 10px;
  background-color: #303030;
  bottom: 205px;
  position: fixed;
  height: 460px;
  box-shadow: 3px 3px 1px #000;
  li {
    padding: 15px 5px;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-weight: 100;
    font-size: 25px;
    cursor: pointer;
    &:hover {
      background-color: #3A6CCB;
      color: #000;
      font-weight: 200;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
    }
  }
}

.categorized-news, #top-news{
 display: inline-block;
 vertical-align: top;
}

#main-container {
  margin-top: 3px;
  width: 75%;
  background-color: #FFF;
  padding: 10px;
  margin-left: 17%;
}

.category {
  border: 2px solid #000;
  height: 280px;
  width: 533px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 3px;
  display: inline-block;
  &:hover {
    box-shadow: 0 3px 2px #999;
  }
  .title {
    padding: 5px;
    border-bottom: 1px double;
    font-weight: 100;
    background: #000 url(../images/title-bg.png);
    background-size: 536px 36px;
    color: #FFF;
  }
}

.left{
  float: left;
}

.right {
  float: right;
}

.left, .right {
  background-color: #9E9E9E;
  width: 40px;
  height: 250px;
  opacity: 0.2;
  &:hover {
    background-color: #353535;
  }
}

#top-news {
  border: 1px solid #000;
  border-radius: 4px;
  height: 500px;
  margin: 2% 10%;
  width: 80%;
}

#omni-search {
  color: #FFF;
  border-radius: 4px;
  padding:2px 1px 2px 10px;
  border: 1px solid #FFF;
  font-size: 24px;
}

#omni-search  input{
  color:#331E3F;
  padding: 10px 10px;
  width: 300px;
  font-size: 17px;
  border: none;
}

#ribbon {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
}

#flash-news {
  width: 76%;
  height: 170px;
  margin: 4% 1% 0 17%;
  border-radius: 3px;
  background: rgba(1, 1, 1, 0.6);
  padding: 4px;
}
