@import "compass/reset";

body {
  font-family: 'Helvetica Neue';
  margin:0px;
  background-color: #F2F2F2;
}

#header, #footer {
  width: 100%;
  background-color: #2C2C2C;
  border: 1px solid black;
}

#header {
  margin-bottom: 30px;
  position: fixed;
  height: 50px;
  left:0;
  z-index: 1;
  top: 0;
  background: url(../images/header-bg.gif) repeat-x;
}

ul.fixed-menu {
  padding: 5px;
  margin: 0px;
  position:fixed;
  right: 0;
  top: 230px;
  background-color: #303030;
  li{
    list-style: none;
    padding: 7px 5px;
    font-size: 15px;
    a {
      text-decoration: none;
      text-decoration: none;
      text-shadow: 1px 1px #25448E;
      color: #FFF;
      font-weight: 100;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid #66A2FA;
      }
    }
  }
}

#footer {
  height: 200px;
}

.categorized-news, #top-news {
  display: inline-block;
  vertical-align: top;
}

#sidebar {
  width: 15%;
  border: 1px solid #000;
  padding: 27px 10px;
  background-color: #303030;;
  top: 230px;
  position: fixed;
}

.categorized-news, #top-news, #sidebar {
 display: inline-block;
 vertical-align: top;
}

#main-container {
  margin-top: 230px;
  width:75%;
  background-color: #FFF;
  padding: 10px;
  margin-left: 17%;
}

.category {
  border: 2px solid #000;
  height: 220px;
  width: 450px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 3px;
  .title {
    padding: 5px;
    border-bottom: 1px double;
    font-weight: 100;
    background: #000 url(../images/title-bg.png);
    background-size: 454px 36px;
    color: #FFF;
  }
}

.left{
  float: left;
}

.right {
  float: right;
}

.left, .right {
  background-color: #9E9E9E;
  width: 40px;
  height: 188px;
  opacity: 0.2;
  &:hover {
    background-color: #353535;
  }
}

#top-news {
  border: 1px solid #000;
  border-radius: 4px;
  height: 100%;
  width: 57%;
}

#omni-search {
  color: #FFF;
  border-radius: 4px;
  padding:2px 1px 2px 10px;
  border: 1px solid #FFF;
  font-size: 24px;
}

#omni-search  input{
  color:#331E3F;
  padding: 10px 10px;
  width: 300px;
  font-size: 17px;
  border: none;
}
