/* line 17, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../sp027272/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/demo.scss */
body {
  font-family: 'Helvetica Neue';
  margin: 0px;
  background-color: #F2F2F2;
}

/* line 9, ../sass/demo.scss */
#header, #footer {
  width: 100%;
  background-color: #2C2C2C;
  border: 1px solid black;
}

/* line 15, ../sass/demo.scss */
#header {
  margin-bottom: 30px;
  position: fixed;
  height: 50px;
  left: 0;
  z-index: 1;
  top: 0;
  background: url(../images/header-bg.gif) repeat-x;
}

/* line 25, ../sass/demo.scss */
ul.fixed-menu {
  padding: 5px;
  margin: 0px;
  position: fixed;
  right: 0;
  bottom: 10px;
  background-color: #303030;
  box-shadow: -3px 3px 1px #000;
}
/* line 33, ../sass/demo.scss */
ul.fixed-menu li {
  list-style: none;
  padding: 7px 5px;
  font-size: 15px;
}
/* line 37, ../sass/demo.scss */
ul.fixed-menu li a {
  text-decoration: none;
  text-decoration: none;
  text-shadow: 1px 1px #25448E;
  color: #FFF;
  font-weight: 100;
}
/* line 43, ../sass/demo.scss */
ul.fixed-menu li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #66A2FA;
}

/* line 51, ../sass/demo.scss */
#footer {
  height: 200px;
}

/* line 55, ../sass/demo.scss */
.categorized-news, #top-news {
  display: inline-block;
  vertical-align: top;
}

/* line 60, ../sass/demo.scss */
#sidebar {
  width: 15%;
  border: 1px solid #000;
  padding: 27px 10px;
  background-color: #303030;
  bottom: 205px;
  position: fixed;
  height: 460px;
  box-shadow: 3px 3px 1px #000;
}
/* line 69, ../sass/demo.scss */
#sidebar li {
  padding: 15px 5px;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-weight: 100;
  font-size: 25px;
  cursor: pointer;
}
/* line 76, ../sass/demo.scss */
#sidebar li:hover {
  background-color: #3A6CCB;
  color: #000;
  font-weight: 200;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* line 86, ../sass/demo.scss */
.categorized-news, #top-news {
  display: inline-block;
  vertical-align: top;
}

/* line 91, ../sass/demo.scss */
#main-container {
  margin-top: 3px;
  width: 75%;
  background-color: #FFF;
  padding: 10px;
  margin-left: 17%;
}

/* line 99, ../sass/demo.scss */
.category {
  border: 2px solid #000;
  height: 280px;
  width: 534px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 3px;
  display: inline-block;
}
/* line 108, ../sass/demo.scss */
.category:hover {
  box-shadow: 0 3px 2px #999;
}
/* line 111, ../sass/demo.scss */
.category .title {
  padding: 5px;
  border-bottom: 1px double;
  font-weight: 100;
  background: black url(../images/title-bg.png);
  background-size: 536px 36px;
  color: #FFF;
}

/* line 121, ../sass/demo.scss */
.left {
  float: left;
}

/* line 125, ../sass/demo.scss */
.right {
  float: right;
}

/* line 129, ../sass/demo.scss */
.left, .right {
  background-color: #9E9E9E;
  width: 40px;
  height: 250px;
  opacity: 0.2;
}
/* line 134, ../sass/demo.scss */
.left:hover, .right:hover {
  background-color: #353535;
}

/* line 139, ../sass/demo.scss */
#top-news {
  border: 1px solid #000;
  border-radius: 4px;
  height: 500px;
  margin: 2% 10%;
  width: 80%;
}

/* line 147, ../sass/demo.scss */
#omni-search {
  color: #FFF;
  border-radius: 4px;
  padding: 2px 1px 2px 10px;
  border: 1px solid #FFF;
  font-size: 24px;
}

/* line 155, ../sass/demo.scss */
#omni-search input {
  color: #331E3F;
  padding: 10px 10px;
  width: 300px;
  font-size: 17px;
  border: none;
}

/* line 163, ../sass/demo.scss */
#ribbon {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
}

/* line 170, ../sass/demo.scss */
#flash-news {
  width: 76%;
  height: 170px;
  margin: 4% 1% 0 17%;
  border-radius: 3px;
  background: rgba(1, 1, 1, 0.6);
  padding: 4px;
}
