/* line 4, ../sass/main.scss */
body {
  font-family: "Helvetica Neue";
  color: #686868;
  margin: 10px;
}

/* line 10, ../sass/main.scss */
header {
  text-align: center;
}
/* line 12, ../sass/main.scss */
header a {
  text-decoration: none;
}
/* line 14, ../sass/main.scss */
header a:hover {
  text-decoration: none;
}
/* line 17, ../sass/main.scss */
header a span {
  color: #686868;
}

/* line 23, ../sass/main.scss */
.name {
  font-size: 100px;
  margin: 0px;
  font-weight: 100;
  text-shadow: 1px 1px #5796DC;
  margin: 0 0 10px 0;
}

/* line 31, ../sass/main.scss */
.phone-number {
  float: left;
  padding-left: 20px;
  color: #94B443;
}

/* line 37, ../sass/main.scss */
.address {
  color: #B74418;
}

/* line 41, ../sass/main.scss */
.email-address {
  color: #67A4FB;
  padding-left: 10px;
  float: right;
  padding-right: 20px;
}

/* line 48, ../sass/main.scss */
ul.projects li {
  list-style: none;
  font-size: 20px;
}
/* line 51, ../sass/main.scss */
ul.projects li a {
  font-size: 35px;
}

/* line 56, ../sass/main.scss */
header {
  border: 1px solid #686868;
  display: block;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 20px;
}

/* line 64, ../sass/main.scss */
#main_container {
  border: 1px solid #686868;
  display: block;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 20px;
  font-weight: 200;
}
/* line 71, ../sass/main.scss */
#main_container a {
  color: #4F76D8;
  text-decoration: none;
  font-weight: 100;
}
/* line 76, ../sass/main.scss */
#main_container a:hover {
  text-decoration: none;
  text-shadow: 1px 0px #737373;
}
/* line 80, ../sass/main.scss */
#main_container h2 {
  text-shadow: 1px 1px #000;
  font-size: 60px;
  font-weight: 100;
  color: #94B443;
}

/* line 88, ../sass/main.scss */
.section {
  border-bottom: 1px solid #999999;
}
/* line 90, ../sass/main.scss */
.section h2 {
  width: 27%;
  margin: 0px;
}
/* line 94, ../sass/main.scss */
.section .content, .section h2 {
  display: inline-block;
  vertical-align: top;
}
/* line 98, ../sass/main.scss */
.section .content {
  border-left: 1px solid #ECECEC;
  position: relative;
  width: 70%;
  padding: 25px 10px;
}

/* line 107, ../sass/main.scss */
#scrolly, #download {
  position: fixed;
  height: 30px;
  width: 25px;
  border-radius: 5px;
  padding: 10px 15px 10px 10px;
  opacity: 0.5;
  cursor: pointer;
}

/* line 117, ../sass/main.scss */
#scrolly {
  right: -6px;
  bottom: 0px;
  color: #686868;
}
/* line 121, ../sass/main.scss */
#scrolly:hover {
  opacity: 1;
}

/* line 126, ../sass/main.scss */
#download {
  left: 15px;
  bottom: 10px;
  color: #FFF;
  background-color: #686868;
  border: 1px solid;
  -moz-transition-property: border-radius, color, background-color, width;
  -o-transition-property: border-radius, color, background-color, width;
  -webkit-transition-property: border-radius, color, background-color, width;
  transition-property: border-radius, color, background-color, width;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}
/* line 132, ../sass/main.scss */
#download:before {
  padding-right: 10px;
}
/* line 135, ../sass/main.scss */
#download .download-file {
  opacity: 0;
  text-decoration: none;
}
/* line 141, ../sass/main.scss */
#download:hover {
  opacity: 1;
  width: 9%;
  background-color: #FFF;
  color: #686868;
}
/* line 146, ../sass/main.scss */
#download:hover .download-file {
  opacity: 1;
  display: inline-block;
  -webkit-animation: showIcons 2s;
  text-decoration: none;
}

@-webkit-keyframes showIcons {
  from {
    opacity: 0;
    height: 30px;
  }
  to {
    opacity: 1;
    height: 25%;
  }
}
/* line 166, ../sass/main.scss */
#download-pdf {
  color: #CC4C41;
}

/* line 170, ../sass/main.scss */
#download-word {
  color: #3D608E;
}

/* line 174, ../sass/main.scss */
#download-text {
  color: #000;
}

/* line 179, ../sass/main.scss */
.sub {
  font-weight: 100;
}

/* line 183, ../sass/main.scss */
.dub {
  font-weight: 300;
  font-size: 16px;
}

/* line 188, ../sass/main.scss */
ul li {
  margin-bottom: 5px;
  list-style: none;
}
/* line 191, ../sass/main.scss */
ul li.fa {
  display: block;
  margin-bottom: 10px;
}

/* line 197, ../sass/main.scss */
.sub-section {
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 5px;
}
/* line 200, ../sass/main.scss */
.sub-section ul {
  margin-top: 20px;
}

/* line 205, ../sass/main.scss */
.fa-dot-circle-o:before {
  padding-right: 10px;
}

/* line 209, ../sass/main.scss */
.sub-section-title {
  font-size: 0.75em;
  margin: 5px 0px;
}
/* line 212, ../sass/main.scss */
.sub-section-title .sub {
  font-size: 1.5em;
}
